<div id="main">
    <div class="container col-lg-offset-1">

        <div class="row">
            <h1>Over ons</h1>
        </div>

        <br>

        <div class="row">
            <div class="col-lg-5">

            Ik slijt sieraden en edelstenen en verkoop ze vervolgens aan klanten die deze producten willen aanschaffen.

            <br><br>

            Dit begon als een hobby, maar is vervolgens uit de hand gelopen. Nu verkoop ik aan klanten over heel Nederland dit soort producten.

            <br><br>

            De volgende betaalmethodes worden geaccepteerd:

            <br><br>

            <ul>
                <li>iDeal</li>
                <li>Paypal</li>
                <li>Creditcard</li>
            </ul>

            <br><br>

            <center>
                <img width="50" src="~/images/paypal.png">
                <img width="50" src="~/images/ideal.jpg">
                <img width="50" src="~/images/visa.png">
                <img width="50" src="~/images/mastercard.jpg">
            </center>

            <br><br>

            </div>

            <div class="col-lg-5">
            <center>
                <img width="300" src="~/images/armband.jpg">
            </center>
            </div>
        </div>
    </div>
</div>