body {
    background-color: white;
}
.navbar {
  background-color: white;
  margin-bottom: 0;
  border-color: #bfbfbf;
}
.nav li{
		margin-left: 15px;
    background-color: #41719c;
}
.nav.navbar-nav.navbar-right li a {
    color: white;
}
.nav.navbar-nav.navbar-left li a {
    color: white;
}
.mobile{
  visibility: hidden;
}
#main {
  background-color: lightgray;
}
#footer {
  background-color: white;
  padding-top: 50px;
  padding-bottom: 50px;
}
.shopping-grid{
  background-color: white;
}

#nav2 {
  background-color: #41719c;
  margin: 0;
}


.horizontal {
  display: inline;
  list-style-type: none;
  padding-right: 20px;
  float: left;
}
.horizontal li{
  background-color: transparent;
}

@media (max-width: 768px){
  .nav li{
    margin-left: 0px;
    margin-bottom: 5px;
    margin-top: 0px;
  }
  .mobile{
    visibility: visible;
    background-color: transparent;
  }
  #nav2{
    display: none;
  }
}

.line{
  width: 1px; /* Line width */
      background-color: black; /* Line color */
      height: 80px; /* Override in-line if you want specific height. */
}

.dropdown-menu {
  background-color: #41719c;
}


/* Searchbar and button allignment */
.form-inline {
  margin-top: 8px;
}

.google-maps {
	z-index: -1;
}
